<div class="card card-block">
  <h4 class="card-title"> {{repository.owner}} / {{repository.name}} </h4>
  <app-repo-info
    [name]="repository.name"
    [owner]="repository.owner"
    [description]="repository.description"
    [stars]="repository.stars"
    [issues]="repository.issues"
    [createdAt]="createdAt"
    [postedBy]="postedBy">
    
    <a *ngIf="commentsCount >= 0" class="comments-link" [routerLink]="['/', repository.owner, repository.name]" (mouseenter)="prefetchCommentsPage()">
      View comments ( {{commentsCount}} )
    </a>
    
  </app-repo-info>
</div>