<h2>
  {{owner}} / {{name}} 
</h2>

<div *ngIf="!loading">
  <app-repo-info
    [name]="entry.repository.name"
    [owner]="entry.repository.owner"
    [description]="entry.repository.description"
    [stars]="entry.repository.stars"
    [issues]="entry.repository.issues"
    [createdAt]="entry.createdAt"
    [postedBy]="entry.postedBy">
  </app-repo-info>


  <app-new-comment *ngIf="currentUser" (onSubmit)="onSubmit($event)"></app-new-comment>

  <app-comment
    *ngFor="let comment of entry.comments"
    [content]="comment.content"
    [createdAt]="comment.createdAt"
    [author]="comment.postedBy">
  </app-comment>
</div>

<div *ngIf="loading"> ... </div>
